@page "/servers"
@rendermode InteractiveServer
@inject NavigationManager Navigation;

<h3>Servers</h3>
<br />
<CitiesListComponent @ref="citiesListComponent" HandleCitySelection="HandleCitySelection"></CitiesListComponent>
<br />
<SearchBarComponent @ref="searchBarComponent" HandleSearchEvent="HandleServerSearch"></SearchBarComponent>
<br />
<CascadingValue Name="SelectedCity" Value="@_selectedCity">
    <ServersListComponent CityName="@_selectedCity" SearchValue="@_searchValue"></ServersListComponent>
</CascadingValue>
<br />
<a href="/servers/create" class="btn btn-primary">Add server</a>


@code {
    private string _selectedCity { get; set; } = "Toronto";

    private string _searchValue { get; set; }

    private CitiesListComponent citiesListComponent;
    private SearchBarComponent searchBarComponent;

    private void HandleServerSearch(string searchValue)
    {
        citiesListComponent?.ClearSelection();
        _searchValue = searchValue;
    }

    private void HandleCitySelection(string cityName)
    {
        _searchValue = string.Empty;
        searchBarComponent?.ClearSearchValue();
        _selectedCity = cityName;
    }
}
