@page "/servers"
@rendermode InteractiveServer
@inject NavigationManager Navigation;

<h3>Servers</h3>
<br />
<CitiesListComponent HandleCitySelection="HandleCitySelection"></CitiesListComponent>
<br />
<SearchBarComponent HandleSearchEvent="HandleServerSearch" SearchValue="@_searchValue"></SearchBarComponent>
<br />
<ServersListComponent CityName="@_selectedCity" SearchValue="@_searchValue"></ServersListComponent>
<br />
<a href="/servers/create" class="btn btn-primary">Add server</a>
@* <button class="btn btn-secondary" @onclick="@(() =>
{
    servers.Insert(0, new Server(){Id=0, City="Toronto", Name="ServerTest", IsRunning=false});
})">
    Instant add server
</button> *@


@code {
    private string _selectedCity { get; set; } = "Toronto";

    private string _searchValue { get; set; }

    private void HandleServerSearch(string searchValue)
    {
        _selectedCity = string.Empty;
        _searchValue = searchValue;
    }

    private void HandleCitySelection(string cityName)
    {
        _searchValue = string.Empty;
        _selectedCity = cityName;
    }
}
