<div class="input-group mb-3 w-50">
    <input placeholder="Server Search" type="text" class="form-control" @bind-value="SearchValue" />
    <button type="button" @onclick="PerformSearch" class="btn btn-outline-success">Search</button>
</div>

@code {
    [Parameter]
    public EventCallback<string> HandleSearchEvent { get; set;  }

    [Parameter]
    public string SearchValue { get; set; }

    private void PerformSearch() => HandleSearchEvent.InvokeAsync(SearchValue);

}
