@inject NavigationManager Navigation

@if (Server != null)
{
    <li @key="Server.Id">
        @Server.Name is in @Server.City is
        <span style="color:@((Server.IsRunning?"green":"red"))">
            @(Server.IsRunning ? "Online" : "Offline")
            &nbsp;
            <a href="/servers/@Server.Id" class="btn btn-link">Edit</a>
            &nbsp;
            <EditForm Model="Server" FormName="@($"formDelete-{Server.Id}")" OnValidSubmit="() => Delete(Server.Id)">
                <button type="submit" class="btn btn-danger">Delete</button>
            </EditForm>
        </span>
    </li>
}

@code
{
    [Parameter]
    public Server Server { get; set; }

    private void Delete(int serverId)
    {
        if (serverId > 0)
        {
            ServersRepository.DeleteServer(serverId);
            Navigation.NavigateTo("/servers", true);
        }
    }
}
